body {
  margin: 0 0 2rem;

  font-family: 'Roboto', sans-serif;
}

.print {
  display: none;
}

.card a,
h2 a {
  color: inherit;
  text-decoration: inherit;
}

.card {
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card .content {
  text-align: center;
  padding: 5px 15px;
}

.bigme {
  background-image: url('img/cover.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover !important;
}

.card .navbar {
  text-align: right;
  line-height: 2rem;
}

.card .navbar a {
  padding: 1rem 2rem;
}

.card .socials i {
  margin-right: 3vw;
}

.card .navbar a.download {
  border-style: solid;
  border-width: 1px;
}

section {
  padding: 0px 30px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 300;
  text-align: justify;
}

section h1,
section h2,
section h3,
section h4 {
  color: #00449e;
}

.technologies > div {
  display: inline-block;
  margin: 5px 2px;
  padding: 3px 6px;
  border-style: solid;
  border-width: 1px;
}

table.cvtable {
  width: 100%;
}

table.cvtable th {
  width: 20%;
  text-align: left;
}

table.cvtable th,
table.cvtable td {
  vertical-align: baseline;
}

h2:not(:hover) a.section-link {
  visibility: hidden;
}

@media (orientation: landscape) {
  .content {
    float: right;
    width: 60vw;
  }

  h1 {
    font-size: 4vw;
  }
  
  h2 {
    font-size: 3vw;
  }
  
  h3 {
    font-size: 2vw;
  }

  h4 {
    font-size: 1.5vw;
  }

  .socials {
    font-size: 3vw;
  }

  section {
    width: 80vw;
  }
}

@media (orientation: portrait) {
  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 2vw;
  }

  .socials {
    font-size: 5vw;
  }
}

@media print {
  .print {
    display: inherit;
  }

  .noprint {
    display: none!important;
  }

  .card { 
    height: 25vh;
  }

  .card .navbar {
    display: none;
  }

  .bigme {
    background-position: left 65%;
  }  

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  h3 {
    font-size: 2vw;
  }

  h4 {
    font-size: 1.5vw;
  }

  .socials {
    font-size: 1rem;
    text-align: left;

    display: inline-grid;
  }

  .technologies > div {
    display: inline-block;
    margin: 0;
    padding: 3px 6px;
    border-style: none;
  }  
}
